.app-container {
    display: flex;
    height: 100vh;
    color: var(--color-black-90);
}

.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    column-gap: 16px;

    padding: 12px 0;
}

.sidebar ul li a:hover {
    color: var(--color-primary);
    font-size: 17.5px;
}

.sidebar ul li a svg {
    font-size: 24px;
}

.content {
    flex: 1;
    padding: 20px;
}

ul li a.active {
    color: var(--color-primary);
  }