* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

ul {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}